{% extends "shop/basic.html" %}

{% load static%}
{% load tags %}

    {% block title %}
        Shop
    {% endblock title %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'shop/css/index.css' %}">
    <style>
            .container{
                max-width: 100%;
            }


                   
    </style>
    {% endblock style %}



{% block main %}

{% for i,n in iter %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Trending Products in <b> {{i.0.desc}}</b></h2>
                <div id="myCarousel{{n}}" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        {% for s in slides|returnitem:n %}     
                        {% if s == 0 %}
                        <li data-target="#myCarousel{{n}}" data-slide-to="{{s}}" class="active"></li>
                        {% else %}
                        <li data-target="#myCarousel{{n}}" data-slide-to="{{s}}"></li>
                        {% endif %}
                        {% endfor %}
                        
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        {% for product in i %}
                        {% if forloop.counter|modulo:6 == 1 %}
                        {% if forloop.first %}
                        <div class="carousel-item active">
                            <div class="row p-5">
                        
                        {% else %}
                        <div class="carousel-item ">
                        <div class="row p-5">
                        {% endif %}
                                {% endif %}

                                <div class="col-lg-2 col-md-4 ">
                                    <a href="product/{{product.product_id}}" class="text-dark" style="text-decoration: none;">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img  data-src="https://picsum.photos/50{{ forloop.counter }}/50{{ forloop.counter }}" class="img-fluid lazy" alt="">
                                        </div>
                                        </a>
                                        <div class="thumb-content">
                                            <h4>{{product.product_name}}</h4>
                                            <p class="item-price"><strike>$315.00</strike> <span>$250.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <span id="sp{{product.product_id}}">
                                                <button id="{{product.product_id}}" href="#" class="btn btn-primary" onclick="cartclick(this.id)">Add to Cart</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% if forloop.counter|modulo:6 == 0 %}  
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        
                    </div>

                    <!-- Carousel controls -->
                </div>
                    
                    <a class="carousel-control-prev" href="#myCarousel{{n}}" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel{{n}}" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
            </div>
        </div>
    </div>
    
{% endfor %}

{% endblock main %}

{% block script %}


<script>
    const myLazyLoad=new LazyLoad({
        elements_selector:".lazy"
    });

    if(localStorage.getItem('cart')==null){
            var cart={}
        }
        else{
            cart=JSON.parse(localStorage.getItem('cart'));
        var count=0
            for(var id in cart){
            count=count+cart[id];
            updatecartbtn(id)
            }
            console.log(count);
            document.getElementById("cart_count").innerText="Cart("+count+")";

        }
    function cartclick(id) {
        id=id.toString();
        if(cart[id]!=undefined){
            cart[id]=cart[id]+1;
        }
        else{
            cart[id]=1;
        }
        var count=0
        for(var i in cart){
            count=count+cart[i];
        }
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById("cart_count").innerText="Cart("+count+")";
        updatecartbtn(id)
    }

    function updatecartbtn(id){
        document.getElementById("sp"+id).innerHTML="<button id='minuscart"+id+"' class='btn btn-primary minus mr-2' onclick=minuscart(this.id) >"+"-"+"</button>"+cart[id]+
        "<button id='pluscart"+id+"' onclick=pluscart(this.id) "+id+" class='ml-2 btn btn-primary minus'>"+"+"+"</button>";
    }

    function minuscart(id) {
        id=id.slice(9,)
        console.log(id,cart[id]);
        cart[id]=cart[id]-1;
        if(cart[id]==0){
            document.getElementById("sp"+id).innerHTML="<button id="+id+" href='#' class='btn btn-primary' onclick='cartclick(this.id)''>Add to Cart</button>"
            delete cart[id];
        }
        else{
        updatecartbtn(id);}
        var count=0
        for(var i in cart){
            count=count+cart[i];
        }
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById("cart_count").innerText="Cart("+count+")";
        
    }
    function pluscart(id) {
        id=id.slice(8,)
        cart[id]=cart[id]+1;
        console.log(id,cart[id]);
        updatecartbtn(id);
        var count=0
        for(var i in cart){
            count=count+cart[i];
        }
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById("cart_count").innerText="Cart("+count+")";
        
    }




</script>
{% endblock script %}