                     {% if not request.user.is_authenticated %}

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                        <h4>Login</h4>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="email" class="form-control" name="lemail"
                                    placeholder="Your email address...">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="lpassword"
                                    placeholder="Your password...">
                            </div>
                            <button type="submit" class="btn btn-info btn-block btn-round">Login</button>
                        </form>

                        <div class="text-center text-muted delimiter">or use a social network</div>
                        <div class="d-flex justify-content-center social-buttons">
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                                data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                                data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                                data-placement="top" title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </button>
                            </di>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div  class="signup-section">Not a member yet? <a id="signup"  class="text-info" data-target="#signupModal" data-toggle="modal"  > Sign Up</a>.</div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true"  >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                        <h4>Signup</h4>
                    </div>
                    <div class="d-flex flex-column text-left">
                        <form class="form-group" name='signup' method="POST" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="form-group">

                                <label for="username">Username</label>
                                {{form.username}}
                            </div>
                            <div class="form-group">
                                <label class="text-left" for="email">Email</label>
                                {{form.email}}
                            </div>
                            <div class="form-group">
                                <label for="password1">Enter Password</label>
                                {{form.password}}
                            </div>
                            <div class="form-group">
                                <label for="password2">Re-Enter Password</label>
                                <input required type="password" id="password2" class="form-control" placeholder="Re-Enter your password...">
                            </div>
                            <div class="form-group">
                                <label for="password2">Phone</label>
                                <input required type="text" maxlength="10" name="phone" class="form-control" placeholder="Enter Phone no...">
                            </div>
                            <button type="submit" class="btn btn-info btn-block btn-round">Register</button>
                        </form>
                        {{form.errors}}
                       

                        <div class="text-center text-muted delimiter">or use a social network</div>
                        <div class="d-flex justify-content-center social-buttons">
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                                data-placement="top" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                                data-placement="top" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                                data-placement="top" title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </button>
                            </di>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>


                     {% endif %}   